{% extends 'blog/base.html' %}

{% block content %}
    <h1>Liste des articles</h1>
    {% for post in posts %}
        <article class="post">
            {% if post.published_date %}
                <time class="date">
                    {{ post.published_date }}
                </time>
            {% endif %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% empty %}
        <p>Aucun article n’a encore été publié.</p>
    {% endfor %}
    <p><a href="{% url 'post_new' %}" class="btn btn-primary">Créer un nouvel article</a></p>
{% endblock %}